/*mainbodyposter*/
.main_body_poster {
    height: 600px;
}

.main_body_poster .poster p {
    position: absolute;
    line-height: 900px;
    margin-left: 20vw;
    font-size: 40px;
    font-weight: 700;
    color: white;
    z-index: 1;
}

.main_body_poster .overlay {
    position: absolute;
    width: 100%;
    height: 900px;
    background-color: black;
    opacity: 40%;
}

.main_body_poster img {
    width: 100%;
    height: 900px;
}

/*=====================================*/


/*tab bar*/
.tab {
    width: 100%;
    margin-top: 300px;
}

ul {
    display: flex;
    list-style: none;
    padding: 15px 5px 5px 5px;
    justify-content: center;

}

.tab ul {
    border-bottom: 2px solid #d3d3d3;

}

ul li {
    width: 100px;
    height: 50px;
    margin-left: 20px;
    padding: 10px;
    padding-bottom: 0;
}

ul li a {
    text-align: center;
    display: block;
    width: 100%;
    height: 100%;
    line-height: 10px;
    text-decoration: none;
    color: #5e5e5e;
    font-size: 15px;
    font-weight: 700;
    cursor: pointer;
}

.active {
    color: blue;
    border-bottom: blue 7px solid;
}

/*=====================================================*/


/*intro1*/
#intro {
}

.intro {
    display: block;
    margin-top: 350px;
    width: 1200px;
}

.intro .intro_title {
    margin-top: 20px;
}

.intro .intro_title p:first-child {
    margin-top: 100px;
    font-size: 30px;
    font-weight: 800;
    text-align: center;
}

.intro .intro_title p:last-child {
    font-size: 15px;
    color: #5e5e5e;
    text-align: center;
    margin-bottom: 100px;
}

.intro .top_intro {
    display: flex;
    justify-content: space-between;
}

.intro .top_intro img {
    margin: 0 50px;
}

.intro_descript {
    display: flex;
    justify-content: space-between;
    text-align: center;
}

.descript1, .descript2, .descript3 {
    width: 300px;
}

.descript1 p:first-child, .descript2 p:first-child, .descript3 p:first-child {
    margin-top: 20px;
    font-size: 20px;
    font-weight: 800;
}

/*==================================*/


/*intro2*/
.intro_event {
    width: 1500px;
    margin: 200px 0;
    height: 1000px;
    text-align: center;
}

.intro_event h1 {
    font-family: "Arial Black";
    font-size: 30px;
    color: darkblue;
}

.intro_event .event {
    width: 1300px;
    height: 500px;
    margin-top: 150px;
    margin-left: auto;
    margin-right: auto;
    transition: all 0.5s ease-in-out 0s;
}

.intro_event .event:nth-child(even) {

    transition: all 0.5s ease-in-out 0s;

}

.show {

    transform: translateX(0);
}

.unshow {

    transform: translateX(200%);
}

.intro_event .event img {
    display: inline-block;

    float: left;
    width: 600px;
    height: 300px;
    box-shadow: 5px 5px 8px black;
}

.intro_event .event span {

    letter-spacing: 2px;
    line-height: 30px;
    width: 500px;
    word-wrap: break-word;
    float: right;
    font-weight: 800;
}

.intro_event .event:nth-child(even) img {
    float: right;
}

.intro_event .event:nth-child(even) span {

    float: left;

}

.event span h1 {
    font-family: "Agency FB";
    color: peru;
    font-size: 25px;
    font-weight: 1000;

}

hr {
    margin: 30px 20px 0px 20px;
    border-bottom: 1px solid #d3d3d3;
}


/*explore Page*/
#body_bottom_title {
    height: 200px;
    margin: 100px auto;
    text-align: center;
    display: block;
    width: 100vw;
}

#body_bottom_title h1 {
    font-size: 55px;
}

#body_bottom_title h3 {
    font-size: 15px;
    color: lightgrey;
}


.start-up {

}


.body_bottom {
    margin: 0 auto 300px auto;
    font-family: sans-serif;
    box-sizing: border-box;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30vh;
}


.body_bottom .container {
    display: flex;
    width: 90vw;
}

.body_bottom_photo {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 80vh;
    border-radius: 50px;
    color: white;
    cursor: pointer;
    flex: 1;
    margin: 10px;
    position: relative;
    transition: all 0.7s ease-in 0s;

}

.body_bottom_photo h1 {
    font-size: 24px;
    position: absolute;
    bottom: 20px;
    left: 20px;
    opacity: 0;

}

.body_bottom_photo.start-up {
    flex: 8;

}

.body_bottom_photo h1 {
    opacity: 1;
    transition: opacity 0.3s ease-in 0.4s;

}

.body_bottom .container h1 {
    font-size: 75px;
}

.body_bottom .body_bottom_photo:nth-of-type(1) {
    background-image: url("../img/new_car.jpg");
}

.body_bottom .body_bottom_photo:nth-of-type(2) {
    background-image: url("../img/new_farm.jpg");
}

.body_bottom .body_bottom_photo:nth-of-type(3) {
    background-image: url("../img/new_fire.jpg");
}


/*intro_page*/


.intro_company {
    margin-top: 25px;
    background: url("../img/intro_bgc.jpg");
    /*background-size: cover;*/
    width: 100vw;
    height: 700px;
    z-index: -1;
    position: relative;
}

.overlay_intro {
    width: 100vw;
    height: 700px;
    background-color: rgb(91, 104, 105);
    opacity: 90%;
    z-index: 1;
}

.intro_company .title {
    font-family: "Arial Black";
    position: absolute;
    top: 5%;
    left: 5%;
}

.intro_company .title p:nth-of-type(1) {
    color: black;
    font-size: 40px;

}

.intro_company .title p:nth-of-type(2) {
    font-size: 20px;
    color: cadetblue;
}

.photo_people {
    position: absolute;
    top: 15%;
    left: 25%;

    width: 700px;
    height: 420px;
    box-sizing: border-box;
    text-align: center;
    justify-content: center;
    z-index: 2;
}

.photo_people div {
    display: inline-block;
}

.photo_people div img {
    border: 5px solid white;
    border-radius: 50%;
    margin: 10px;
    width: 200px;
    height: 200px;
    object-fit: cover;
}

.photo_people div p {
    color: white;
    font-weight: 800;
}

.intro_background {
    background: #e8b968;
    width: 100vw;
    height: 600px;

}

.intro_background span {
    margin-top: 40px;
    margin-left: 100px;;
    display: block;
    width: 40vw;
    height: 500px;
    word-break: break-all;
    color: white;
    float: left;

}

.intro_background span p {

    margin-top: 40px;
    margin-left: 40px;
}

.intro_background span p:nth-of-type(1) {
    line-height: 50px;
    font-size: 40px;
    font-weight: 800;
}

.intro_background p:nth-of-type(2) {
    word-spacing: 7px;
    font-size: 15px;

}

.intro_background p:nth-of-type(3) {
    word-spacing: 7px;
    font-size: 15px;

}

.intro_background img {
    text-align: center;
    width: 500px;
    height: 500px;
}


/*event_page*/

.event_cover_1 {
    height: 800px;
    width: 100vw;
    background-color: rgb(17, 24, 40);
}

.event_cover_1 img {
    float: left;
    margin-top: 50px;
    width: 700px;
    height: 700px;
}

.event_cover_1 div {
    float: left;
    height: 700px;
    width: 50%;
}

.event_cover_1 div p:nth-of-type(1), .event_cover_1 div p strong {
    margin-top: 150px;
    font-size: 50px;
    color: white;
    font-weight: 800;
}

.event_cover_1 div p:nth-of-type(1) strong {
    color: rgb(145, 244, 229);
}

.event_cover_1 div p:nth-of-type(2) {
    margin-top: 50px;
    color: rgb(191, 198, 209);
}

.event_cover_2 {
    width: 100vw;
    height: 500px;
    background-color: white;
    position: relative;

}


.event_cover_2 .event_md_cover {
    background: linear-gradient(to right, rgb(19, 184, 167), rgb(9, 146, 178));
    width: 100vw;
    height: 40%;
    margin-top: 300px;
}


.event_cover_2 .event_Director {
    position: absolute;
    left: 15%;
    bottom: 45%;
    width: 400px;
    height: 400px;
    background: url("../img/Siraj.jpg");
    background-size: cover;
    background-position: 100% 100%;
    border-radius: 50%;
    border: 5px transparent;
    border-image: linear-gradient(to right, rgb(19, 184, 167), rgb(9, 146, 178));
}


.event_cover_2 .event_md_cover p:nth-of-type(1) {
    color: rgb(75, 191, 191);
    font-size: 60px;
    margin-left: 700px;
}


.event_cover_2 .event_md_cover p:nth-of-type(2) {

    width: 400px;
    height: 100px;
    color: white;
    font-size: 15px;
    word-spacing: 5px;
    margin-left: 700px;
    margin-top: -20px;
    text-align: left;

}

.event_cover_3 {
    width: 100vw;
    height: 600px;
    background-color: rgb(17, 24, 40);

}

.event_cover_3 .img {
    display: flex;
    width: 50vw;
    height: 600px;
    float: left;
    background-position: 60% 80%;
    background: url("../img/teams_work.jpg"), linear-gradient(to right, rgb(17, 153, 139), rgb(8, 118, 145));
    background-size: cover;
    background-blend-mode: multiply;
}

.event_cover_3 div:nth-of-type(2) {
    float: left;
    margin: 100px 50px;
    width: 40vw;
    height: 300px;
    color: white;
    text-align: left;
    font-size: 16px;
    font-weight: 500;
    line-height: 50px;
}

.event_cover_3 div:nth-of-type(2) p:nth-of-type(2) {
    font-size: 60px;
    font-weight: 800;

}

.event_cover_3 div:nth-of-type(2) p:nth-of-type(3) {
    margin-top: 15px;
    line-height: 25px;
}

.event_cover_3 .btn {
    margin-top: -100px;
    float: left;
    margin-left: 50px;
    width: 200px;
    height: 50px;
    border: 5px solid white;
    border-radius: 10px;
    padding: 5px;
    font-size: 30px;
    color: white;
    text-align: center;
}

.event_cover_4 {
    width: 100vw;
    height: 600px;

}

.event_cover_4 p {
    text-align: center;

}

.event_cover_4 p:nth-of-type(1) {
    color: rgb(12, 141, 173);
    margin-top: 100px;

}

.event_cover_4 p:nth-of-type(2) {
    font-size: 40px;
    font-weight: 700;
    color: black;
    margin-top: -10px;
}

.event_cover_4 .event_activities {
    display: flex;
    text-align: center;
    justify-items: center;
    width: 100vw;
    height: 75vh;
}

.event_cover_4 .event_activities .activities {

    margin-top: 20px;
    margin-left: 125px;
    width: 350px;
    height: 65vh;
    border-radius: 15px 15px 15px 15px;
    background-color: rgb(249,250,251);
    box-shadow: 0.1px 0.1px 5px 1px;
    text-overflow: ellipsis;
    overflow: hidden;
}

.event_cover_4 .event_activities .activities img {

    width: 100%;
    height: 35vh;
    border-radius: 15px 15px 0 0;
}
.event_cover_4 .event_activities .activities p{
    margin: 10px;
}

.event_cover_4 .event_activities .activities p:nth-of-type(1) {
    font-size: 20px;
    font-weight: 800;
    text-align: left;

}

.event_cover_4 .event_activities .activities p:nth-of-type(2) {
    margin-top: 10px;
    font-size: 15px;
    font-weight: 400;
    color:rgb(113,114,119);
    text-align: left;

}


.event_cover_5 {
    width: 100vw;
    height: 600px;

}

.event_cover_5 p {
    text-align: center;

}

.event_cover_5 p:nth-of-type(1) {
    color: rgb(12, 141, 173);
    margin-top: 100px;

}

.event_cover_5 p:nth-of-type(2) {
    font-size: 40px;
    font-weight: 700;
    color: black;
    margin-top: -10px;
}

.event_cover_5 .event_activities {
    display: flex;
    text-align: center;
    justify-items: center;
    width: 100vw;
    height: 75vh;
}

.event_cover_5 .event_activities .activities {

    margin-top: 20px;
    margin-left: 125px;
    width: 350px;
    height: 65vh;
    border-radius: 15px 15px 15px 15px;
    background-color: rgb(249,250,251);
    box-shadow: 0.1px 0.1px 5px 1px;
    text-overflow: ellipsis;
    overflow: hidden;

}

.event_cover_5 .event_activities .activities img {

    width: 100%;
    height: 35vh;
    border-radius: 15px 15px 0 0;
}
.event_cover_5 .event_activities .activities p{
    margin: 10px;

}

.event_cover_5 .event_activities .activities p:nth-of-type(1) {
    font-size: 20px;
    font-weight: 800;
    text-align: left;

}

.event_cover_5 .event_activities .activities p:nth-of-type(2) {
    margin-top: 10px;
    font-size: 15px;
    font-weight: 400;
    color:rgb(113,114,119);
    text-align: left;

}

